<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/content/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/bootstrap-theme.min.css" />    
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", nameof(DefaultController.Index), new { mode = Request["mode"] })</li>
                <li>@Html.ActionLink("Titles", nameof(DefaultController.TitleList), new { mode = Request["mode"] })</li>
                <li>@Html.ActionLink("Artists", nameof(DefaultController.ArtistList), new { mode = Request["mode"] })</li>
                <li>@Html.ActionLink("Characters", nameof(DefaultController.CharacterList), new { mode = Request["mode"] })</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </div>
</body>
</html>
